
<heading>About</heading>
<div style="padding: 10px">
<!-- What is this and why is it being made?<br> -->
<!-- 
&nbsp;&nbsp;Well, let's take it back a little bit.  Not too long ago, the internet was an uncommon technology mostly used by geeks.  And that wasn't too bad.  There was no rules at all and yet people were reasonably civil.<br>
&nbsp;&nbsp;But every september a bunch of kids would go to college and be told to "learn the internet."  In one large wave they would come and little by little they had to be acclamated.  "RTFM", discuss not argue, be yourself.  It was stable enough until... Eternal September.<br>  
&nbsp;&nbsp;AOL -- a crappy internet service from the past -- started pumping out floppy disks with their crappy program on it.  All you had to do was insert and install.  Suddenly non-college students of all ages were flooding the forums.  There was no way to put them through the rights of passage.  They agreed with each other, the coup in place, the internet fell into the hands of the common moron.<br>
&nbsp;&nbsp;Since then, many things have changed.  Some things for the better, many for the worse. <br>
<br>
<h3>"We wanted flying cars, instead we got 140 characters" - Peter Thiel</h3>
<br>
&nbsp;&nbsp;But of all the attrocities to the internet, popularity contests are amongst the worst.  What once was a place where minds connected to share knowledge and philosophize, now exists a place where poeple post pictures of themselves trying to be cool, say whatever they think people want them to say, and follow every trend, ever worried by FOMO (Fear Of Missing Out).  Every new thing is just trying to become popular by showing popular people how popular they are.  But not this.<br>
&nbsp;&nbsp;We're still in very early development but our goal is to find a way to stimulate some amount of uncensored, completely biased communication.  A place where ones opinion is their own, no likes, no following, no reputation or karma, just a person speaking their mind.<br>
&nbsp;&nbsp;We're not sure what the result may be, perhaps a lot of people saying things they aren't supposed to, but the hope is that some truth and knowledge rises from it.  There are many things people feel guilty for or believe but fear to say.  The things that make a person who they are on the inside that aren't allowed to be on the outside.  Or pehaps moments shared "I had my first kiss at this bench."  <br> -->


&nbsp;&nbsp;Hey.  Thanks for coming to read this,<br>
&nbsp;&nbsp;I just wanted to let you in on what this project is and why I care about it<br>
&nbsp;&nbsp;I'm from a time when the internet was a place where minds connected to share information and philosophize.  It was not about internet points like Karma, achievements, likes, followers, or any other valueless number gained through lost time and a willingness to sell out.  Nowadays, I don't really know of a single place I can say something without having some sort of popularity contest going on in the background.  So, I'm trying to make one using anonymity and location<br>
<br>
<h3><i>"The thing about posting anonymously is that it comes with a certain amount of sincerity.  There is nothing to gain from faking it..."</i></h3>
<br>
&nbsp;&nbsp;...and the thing about location is that you can't fake it from home.  You actually have to go to that place and be one of the people who goes to that place.  In a sense, location is the great divider of cultures.<br>
&nbsp;&nbsp;So by using these two together, we may have found a way to release users of their reputational responsibilities whilst also connecting them to people who are already close to them.  Close enough to have stood in the same space recently.  I'm not really sure what people will say but that's kind of the point.<br>
<br>
Anyways...Cheers,<br>
Seph [Lead Coder]<br>
<br>
P.S. if you have any bugs, questions, comments, etc. please send them to MaudeChaplin@gmail.com
</div>