<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
    <script src="http://sephreed.github.io/PINE/PINE_Core.js"></script>

    <script src="../public/images/icons/map_sets/icon_define.js"></script>
    <script src="../public/images/icons/map_sets/testing/icon_setup.js"></script>


    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { height: 100%; margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        .mapbox-improve-map { display: none }

        #clouds, #skylight {
            position: absolute;
            top: 0px;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }

        #clouds {
            background-image: url("../public/images/cloud_border.png");
            background-size: 200% 200%;
            background-position: center;
        }

        #skylight {
            /*background-color: black;*/
            /*opacity: 0.2;*/
            transition: background-color ease 2s;
        }

        button {
            position: relative;
            z-index: 20;
        }

        #map {
            /*filter: saturate(2);*/
        }

        .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
            position: relative;
            z-index: 10;
            background-color: transparent;
            font-size: 10px;
        }
    </style>
</head>
<body>

<div id='map'></div>
<div id="clouds"></div>
<div id="skylight"></div>
<!-- <button onclick="skylight(24)">night</button>
<button onclick="skylight(18)">sunset</button>
<button onclick="skylight(13)">midday</button>
<button onclick="skylight(7)">sunrise</button>
<button onclick="skylight(-1)">rainyday</button> -->
<script>




var e_skylight = El.byId("skylight");
function skylight(time) {
    if(time == 24)
        e_skylight.style.backgroundColor = "rgba(10,0,25,0.7)"

    else if(time == 18)
        e_skylight.style.backgroundColor = "rgba(197, 134, 39, 0.3)"

    else if(time == 13)
        e_skylight.style.backgroundColor = "rgba(197, 134, 39, 0.1)"

    else if(time == 7)
        e_skylight.style.backgroundColor = "inherit"

    else if(time == -1)
        e_skylight.style.backgroundColor = "rgba(108, 108, 108, 0.3)"
}



PATH_TO_SERVER = "http://108.238.241.202:8080";
PATH_TO_ASSETS = "";

if(U.getCookie("run_local") == "true") {
    PATH_TO_SERVER = "http://localhost:8080";
    PATH_TO_ASSETS = "http://realmechat.github.io";
}


var viewDist = 0.002;
// var viewDist = 1.0;
var position = [];
var bounds;
var marker_source_count = 0;


var walls = {};

function addWalls(addUs) {
    var addUs = addUs;

    for(var ad in addUs) {
        var addMe = addUs[ad];
        if(walls[addMe.wall_id] == undefined)
            walls[addMe.wall_id] = addMe;    
    }
}


var icon_radius = 0.00005;
function showWalls() {
    console.log("showing walls");

    for(var id in walls) {
        var addMe = walls[id];

        if(addMe.added != true) {
            var lat = parseFloat(addMe.wall_lat),
                lng = parseFloat(addMe.wall_lng),
                name = "wall_"+id,
                icon_id = addMe.wall_icon_id;

            var E = lng - icon_radius,
                W = lng + icon_radius,
                N = lat + icon_radius,
                S = lat - icon_radius;

            console.log("icon_id: "+icon_id,E, W, N, S);

            // var iconSet = ICONS.sets["testing"];

            var iconFilename = ICONS.getFrom(icon_id, "testing") || "pixel_tree.png";
            var imgSrc = PATH_TO_ASSETS+"/public/images/icons/map_sets/testing/"+iconFilename;

            map.addSource(name, {
                "type": "image",
                "url": imgSrc,
                "coordinates": [
                    [W, N],
                    [E, N],
                    [E, S],
                    [W, S]
                ]
            });

            map.addLayer({
                "id": name+"_icon",
                "source": name,
                "type": "raster",
                // "paint": {"raster-opacity": 0.85}
            });

        }
        addMe.added = true;
    }
}





function setLocation(i_lng, i_lat) {
    position[0] = i_lng;
    position[1] = i_lat;
    
    bounds = [
        [position[0]-viewDist, position[1]-viewDist], // Southwest coordinates
        [position[0]+viewDist, position[1]+viewDist]  // Northeast coordinates
    ];


    if(map) {
        map.setMaxBounds(bounds);
        map.setCenter(position);
    }

    getPoints();
}


setLocation(-97.754072, 30.262567);


refreshLocation = function() {
    navigator.geolocation.getCurrentPosition(function(position){
        setLocation(position.coords.longitude, position.coords.latitude)
    });
}


refreshLocation();


// function createMarkerSource(walls) {
//     var output = {};
//     output.type = "geojson";
//     output.data = {};
//     output.data.type = "FeatureCollection";
//     output.data.features = [];

//     for (var wa in walls) {
//         var wall = walls[wa];

//         var addMe = {};
//         addMe.type = "Feature";

//         addMe.geometry = {};
//         addMe.geometry.type = "Point";
//         addMe.geometry.coordinates = [wall.wall_lng, wall.wall_lat];

//         addMe.properties = {};
//         addMe.properties.title = wall.wall_name;
//         addMe.properties["marker-symbol"] = "monument";

//         output.data.features.push(addMe);
//     }

//     return output;
// }






function getPoints()  {
    
    var min_lng = bounds[0][0];
    var min_lat = bounds[0][1];
    
    var max_lng = bounds[1][0];
    var max_lat = bounds[1][1];


    var target = PATH_TO_SERVER+"/aardvark/walls"
    target += "?min_lat="+min_lat;
    target += "&max_lat="+max_lat;
    target += "&min_lng="+min_lng;
    target += "&max_lng="+max_lng;
    // target += "&ip="+SESSION_CACHE.ip;
    target += "&ip=1.1.1.1";
    // var target = "http://localhost:8080/aardvark/wall/0/topic/0/posts";

    var request = new XMLHttpRequest();
    // request.responseType = 'text';
    request.open('GET', target, true);

    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            var data = JSON.parse(request.responseText);

            addWalls(data.vals);
            showWalls();
        } else {
            // We reached our target server, but it returned an error
            alert("include src '"+target+"' does not exist")
        }
    };



    request.onerror = function() {
        // There was a connection error of some sort
        alert("include src '"+target+"' does not exist")
    };

    request.send();

}





mapboxgl.accessToken = 'pk.eyJ1Ijoic2VwaHJlZWQiLCJhIjoiY2ltY2swaHp5MDAwcnVmbHZueDJ0b3JuYiJ9.2On-Ezp_IskFR_Vpn9JrHA';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/sephreed/cimckh1zj00cj9lm1ch93zx6q', //hosted style id
    center: position, // starting position
    zoom: 19, // starting zoom
    maxBounds: bounds 
});

map.dragRotate.disable();
map.touchZoomRotate.disableRotation();


// map.on('style.load', function() {
//     map.addSource("clouds", {
//         "type": "image",
//         "url": "http://realmechat.github.io/public/images/cloud_border.png",
//         "coordinates": [
//             [bounds[0][0], bounds[1][1]],
//             [bounds[1][0], bounds[1][1]],
//             [bounds[1][0], bounds[0][1]],
//             [bounds[0][0], bounds[0][1]]
//         ]
//     });

//     map.addLayer({
//         "id": "clouds",
//         "source": "clouds",
//         "type": "raster",
//         // "paint": {"raster-opacity": 0.85}
//     });
// });

map.on("zoom", function(event) {
    var sw = map.getBounds()._sw;
    var ne = map.getBounds()._ne;
    var dlng = Math.abs(ne.lng - sw.lng);
    var dlat = Math.abs(ne.lat - sw.lat);

    var fillAmount = (Math.max(dlat, dlng)/0.004);
    fillAmount = Math.pow(fillAmount, 2);
    var percent = ((1.5-(fillAmount/2))*100) + '%';

    El.byId("clouds").style.backgroundSize = percent+" "+percent;
});




// disable map rotation using touch rotation gesture





</script>

</body>
</html>
