<script>
	var styleFilenames = [
		"empty.css",
		"commandLine.css",
		"retroHacker.css"
	]
</script>

<style>
	stylelink changeSrc {
		display: block;
		height: 40px;
		border-bottom: 1px solid black;
	}

	stylelink changeSrc:hover {
		background-color: rgba(120,120,120,0.4);
	}
</style>

<heading>Style Settings</heading>

<stylelist spawner="styleFilenames">
	<stylelink spawn>
		<changeSrc target="style_include" src="public/styles/{{styleFilenames[i]}}">
			{{styleFilenames[i]}}
		</changeSrc>
	</stylelink>
</stylelist>


