<script>
	var styleFilenames = [
		"empty.css",
		"commandLine.css",
		"retroHacker.css",
		"misty.css"
	]
</script>

<style>
	stylelist {
		display: block;
		padding: 10px;
	}

	stylelink changeSrc {
		display: inline-block;
		height: 40px;
		border: 1px solid black;
		padding: 10px;
		border-radius: 10px;
		background-color: rgba(120, 120, 120, 0.4);
	}

	stylelink changeSrc:hover {
		background-color: rgba(120,250,120,0.4);
	}
</style>

<heading>Style Settings</heading>

<stylelist spawner="styleFilenames">
	<stylelink spawn>
		<changeSrc target="style_include" src="public/styles/{{styleFilenames[i]}}">
			{{styleFilenames[i]}}
		</changeSrc><br>
	</stylelink>
</stylelist>


