
<script src="http://sephreed.github.io/PINE/PINE_Core.js"></script>
<script type="text/javascript">
	


    PATH_TO_SERVER = "http://108.238.241.202:8080";

    if(U.getCookie("run_local") == "true")
        PATH_TO_SERVER = "http://localhost:8080";

	

    
    var target = PATH_TO_SERVER+"/aardvark/posts?walls=0,35";
    // if(topic) { target += "&topic="+topic; }

    var request = new XMLHttpRequest();
    // request.responseType = 'text';
    request.open('GET', target, true);

    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            // Success!
            var response = request.responseText;
            console.log(response);
            var data = JSON.parse(response);
            console.log(data);

            // posts = data.posts;
            // PINE.getNodeFunction($("postlist")[0], "update")();
        } else {
            // We reached our target server, but it returned an error
            alert("include src '"+target+"' does not exist")
        }
    };



    request.onerror = function() {
        // There was a connection error of some sort
        alert("include src '"+target+"' does not exist")
    };

    request.send();
    
</script>
