
/* mens restroom */
/* simple, dirty, hilarious male bathroom banter */
.point_icon_1 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-56.png")
}

/* men and womens restroom */
/* the thoughts of people who are in a bathroom on their phone */
.point_icon_2 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-57.png")
}

/* womens restrooom */
/* I've never read what women write in the bathroom */
.point_icon_3 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-58.png")
}


.point_icon_4 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-59.png")
}

.point_icon_5 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-60.png")
}

/*.point_icon_6 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-61.png")
}*/

/*
.point_icon_7 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-62.png")
}*/

.point_icon_8 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-63.png")
}

.point_icon_9 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-64.png")
}

.point_icon_10 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-65.png")
}

/* a bench */
/* could be bus stops, or park benches, or benches in general*/
.point_icon_11 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-66.png")
}

.point_icon_12 {
	background-image: url("public/images/icons/map_sets/kitty/Kitty_Icon_Set-67.png")
}



