body {
	background-color: #222;
	color: #FAFAFA;
}

commentbox, input {
	background-color: #333;
	color: #0FA;
	border: 1px solid black;
}

heading {
	background-color: #15AA9A;
}

button, #back_btn, #create_wall, #loc_refresh, #topics, #create_wall, .btn {
	background-color: #1BE481;
	border: 1px solid rgba(0,0,0,0.3);
	color: #222;
}

#map {
	background-color: #248647;
}

#land_tiling {
	opacity: 0.05;
	filter: none;
}

peephole {
	opacity: 0.4;
	filter: invert(95%);
	background-image: url('public/images/cloud_peephole.png');
}