body {
	background-color: #222;
	color: #FAFAFA;
}

commentbox {
	background-color: #333;
	color: #0FA;
}

heading {
	background-color: #15AA9A;
}

#map {
	background-color: #248647;
}

#land_tiling {
	opacity: 0.05;
	filter: none;
}

peephole {
	opacity: 0.4;
	filter: invert(95%);
	background-image: url('public/images/cloud_peephole.png');
}