body {
	background-color: black;
	color: #2CE92C;
	font-family: monospace;

}


button, #back_btn, #create_wall, #loc_refresh, #topics, #create_wall {
	background-color: #000;
	color: #2CE92C;
	border: 1px solid #2CE92C;
	overflow: hidden;
}

heading {
	background-color: #2CE92C;
	color: #000;
	font-size: 15px;
}

#map {
	background-color: #000;
}

#settings_btn, #loc_refresh {
	background-color: #2CE92C;
}


#you {
	background-color: #2CE92C;
}

#land_tiling {
	background-image: url('public/images/line_tiling.png');
	background-size: 20px;
	filter: blur(1px);
	opacity: 1.0;
}

heading {
	background-color: #2CE92C;
	color: #000;
	background-image: url('public/images/line_tiling.png');
	background-size: 20px;
}

commentbox {
	border: 1px solid #2CE92C;
}

peephole {
	opacity: 0.6;
}